.customLogin{
    max-width: 650px;
    margin-top: 60px;
    background-color: white;
    padding: 24px;
    border-radius: 26px;
    margin-bottom: 100px;


}
.bg-image{
    background: url('https://footage.framepool.com/shotimg/qf/130460372-amazon-rainforest-amazonia-fern-peru.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: auto;
    width: 101%;
}
.link{
    font-weight: bold;
    color: blue
}